<%- include("parts/html-head") %>
    <%- include("parts/navbar") %>

        <div class="container">
            <h1>Welcome1</h1>
            <h2>
                <%= name %>
            </h2>
        </div>
        <%- include("parts/scripts") %>
            <%- include("parts/html-foot") %>